In [1]:
import pandas as pd

In [3]:
date_df = pd.DataFrame(
    {'date': pd.date_range(start='2020-04-01 00:00:00', end='2022-04-01 00:00:00', freq='10min'),
    }
)
date_df

                      date
0      2020-04-01 00:00:00
1      2020-04-01 00:10:00
2      2020-04-01 00:20:00
3      2020-04-01 00:30:00
4      2020-04-01 00:40:00
...                    ...
105116 2022-03-31 23:20:00
105117 2022-03-31 23:30:00
105118 2022-03-31 23:40:00
105119 2022-03-31 23:50:00
105120 2022-04-01 00:00:00

[105121 rows x 1 columns]

In [5]:
df = pd.read_csv("4001430.csv")
df

              OBSDHM  RF
0       202003312400   0
1       202004010010   0
2       202004010020   0
3       202004010030   0
4       202004010040   0
...              ...  ..
105113  202203312320   0
105114  202203312330   0
105115  202203312340   0
105116  202203312350   0
105117  202203312400   0

[105118 rows x 2 columns]

In [10]:
path = df["OBSDHM"].values
path = path[0]
path

202003312400

In [ ]:
for value in df["OBSDHM"].values:
    datetimeobj = datetime.datetime(int(path.split('\\')[-1][-15:-11]), int(path.split('\\')[-1][-11:-9]), int(path.split('\\')[-1][-9:-7]), int(path.split('\\')[-1][-7:-5]), int(path.split('\\')[-1][-5:-3]))
    dt_series.append(datetimeobj)
    path_series.append(path)

In [12]:
import datetime

In [28]:
int(str(path)[0:4]), int(str(path)[4:6]), int(str(path)[6:8]), int(str(path)[8:10]), int(str(path)[10:12])

(2020, 3, 31, 24, 0)

In [29]:
int(str(path)[0:4])

2020

In [27]:
datetime.datetime(int(path[0:5]), int(path.split('\\')[-1][-11:-9]), int(path.split('\\')[-1][-9:-7]), int(path.split('\\')[-1][-7:-5]), int(path.split('\\')[-1][-5:-3]))

ValueError: hour must be in 0..23